* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

// Base
@import './base/variables';
@import './base/mixins';

// Blocks
@import './blocks/promo';
@import './blocks/about';
@import './blocks/our_friends';
@import './blocks/help';
@import './blocks/in_addition';
@import './blocks/footer';

// Base Media
@import './base/media';