.about {
    min-height: 588px;
    width: 100%;
    .container {
        padding-top: 80px;
    }
    .about_content {
        min-height: 408px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 120px;
        .about_info {
            margin-top: 14px;
            max-width: 430px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 25px;
            .about_title {
                @include title-style;
                transform: translateY(2px);
            }
            .about_descr {
                color: rgb(76, 76, 76);
                font-family: Arial;
                font-size: 15px;
                line-height: 160%;
                text-align: left;
            }
        }
    }
}
