.pets_header {
    min-height: 120px;
    width: 100%;
    background-color: #fff;
    .header_content {
        .header_logo {
            .header_logo_title,
            .header_logo_subtitle {
                color: #545454;
            }
        }
        .header_menu {
            li {
                a {
                    color: #545454;
                    &:hover {
                        transition: 0.3s all;
                        color: #292929;
                    }
                    &:active {
                        transition: 0s all;
                    }
                }
                .active_link {
                    color: #292929;
                }
            }
        }
    }
}

.pets {
    min-height: calc(1342px + 120px);
    width: 100%;
    background-color: #f6f6f6;
    .container {
        padding-top: 200px;
    }
    .pets_content {
        min-height: 1162px;
        width: 100%;
        .pets_title {
            @include title-style;
            text-align: center;
        }
        .pets_slider {
            min-height: calc(930px + 45px + 52px);
            width: 100%;
            margin-top: 60px;
            .slider_wrapper {
                min-height: 930px;
                width: 100%;
                overflow: hidden;
                .slider_content {
                    min-height: 930px;
                    width: 300%;
                    display: flex;
                    align-items: start;
                    gap: 150px;
                    scroll-behavior: smooth;
                    transition: 0.3s all;
                    .pagination_content {
                        min-height: 100%;
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(4, minmax(270px, 0fr));
                        grid-template-rows: repeat(2, auto);
                        gap: 30px 40px;
                        .slider_card {
                            @include card-style;
                            .card_title {
                                letter-spacing: 1.4px;
                            }
                        }
                    }
                }
            }
            .slider_btns {
                max-width: 340px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                margin-top: 30px;
                button {
                    @include slider-btn-style;
                    padding-top: 5px;
                }
                .slider_btn_disable {
                    @include disable-slider-btn;
                }
            }
        }
    }
}
