.promo {
    min-height: 908px;
    width: 100%;
    background: url('../../img/noise_transparent.png'),
        linear-gradient(135deg, #513d2f, #1a1a1c);
    .container {
        padding-top: 120px;
    }
    .promo_content {
        margin-top: 60px;
        min-height: 728px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        .promo_info {
            height: 322px;
            max-width: 460px;
            margin-top: 163px;
            .promo_title {
                color: #fff;
                font-family: Georgia;
                font-size: 44px;
                font-weight: 400;
                line-height: 130%;
                text-align: left;
                margin: 0;
            }
            .promo_descr {
                color: #cdcdcd;
                font-family: Arial;
                font-size: 15px;
                line-height: 160%;
                text-align: left;
                margin-top: 42px;
            }
            .promo_btn {
                @include fill-btn-style;
                margin-top: 42px;
                width: 207px;
                height: 52px;
            }
        }
    }
}
